@font-face {
  font-family: 'Bacasime Antique';
  src:
    url('./fonts/YsabeauOffice-Black.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Bold.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-ExtraBold.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-Medium.ttf') format('ttf'),
    url('./fonts/YsabeauOffice-SemiBold.ttf') format('ttf');
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  font-family: 'YsabeauOffice-ExtraBold', sans-serif;
}

.image {
  height: 70px;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
  padding: 0 12px 0 12px;
  margin-top: 12px;
}

.main-heading {
  font-size: 18px;
  padding-top: 18px;
}

.main_content_container {
  margin: 0.5rem;
  display: flex;
  border: 1px solid rgb(202, 202, 203);
  overflow-x: scroll;
  scroll-behavior: smooth;
}

.main_content_container::-webkit-scrollbar {
  width: 2px;
}

.main_content_container::-webkit-scrollbar-thumb {
  background-color: rgb(97, 125, 240);
  border-radius: 3px;
}

#search_tv_show_form {
  margin: 1rem 10% 0 10%;
  display: flex;
  flex-direction: column;
}

.search_textok {
  margin: 8px 0 4px 0;
  width: 100%;
  outline: 1px solid rgb(26, 71, 250);
}

.error_input_show {
  outline: 3px solid rgb(230, 55, 11);
}

#search_button {
  font-family: 'YsabeauOffice-ExtraBold', sans-serif;
  margin-left: 65%;
  width: 35%;
}

.show_container {
  margin: 5px 0.35rem 10px 0.35rem;
  border: 2px solid rgb(26, 71, 250);
  box-shadow: 3px 3px rgb(126, 150, 246);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.show_image {
  height: auto;
  width: 150px;
  margin-bottom: 105px;
}

.title_like_container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 15px;
  margin-bottom: 5px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.card_title {
  font-size: 0.8rem;
  margin: 0.5rem;
  padding: 15px 0;
}

.like_icon {
  height: 20px;
  margin-right: 3px;
}

.comment_button {
  font-family: 'YsabeauOffice-ExtraBold', sans-serif;
  width: 92%;
  height: 30px;
  position: absolute;
  bottom: 5px;
  margin: 0 4% 0 4%;
  border: none;
  background-color: rgb(239, 239, 247);
  box-shadow: 1.5px 1.5px rgb(126, 150, 246);
}

.footer {
  margin: 10% 10% 0 10%;
  font-size: 0.7rem;
  font-family: 'YsabeauOffice-ExtraBold', sans-serif;
}

@media all and (min-width: 768px) {
  .image {
    height: 120px;
    width: auto;
  }

  #search_tv_show_form {
    margin: 1rem 20% 0 20%;
    flex-direction: row;
  }

  #search_button {
    width: 20%;
    margin-left: 5%;
  }

  .show_image {
    height: 200px;
    width: auto;
  }

  .footer {
    margin-top: 60px;
  }
}
 
article#pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #ffffff29;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-container {
  background: #f8f8f8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 60%;
  overflow-y: scroll;
  padding: 20px;
  box-sizing: border-box;
  gap: 30px;
  box-shadow: 2px 3px 3px 4px #00000061;
}

.pop-up-header {
  display: flex;
  justify-content: center;
  position: relative;
}

.pop-up-body {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.pop-up-content {
  display: flex;
  justify-content: center;
  padding: 0 60px;
  gap: 40px;
}

.left-content,
.rigth-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.movie-data {
  padding-left: 30px;
  margin-bottom: 8;
}

label {
  font-size: 14px;
  opacity: 0.7;
}

button#close-modal-btn {
  background: transparent;
  border: none;
  height: 36px;
  width: auto;
  font-size: 40px;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
}

.movie-cover {
  width: 200px;
  height: 250px;
  box-shadow:
    rgba(70, 70, 90, 0.25) 0 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
  border-radius: 20px;
}
